.btn-disabled {
    opacity: .5;
    pointer-events: none;
}
.bounce {
    animation: bounce .8s linear infinite alternate;
}
@keyframes bounce {
0% {
    transform: scale(1);
}
100% {
    transform: scale(1.2);
}
}