.btn-disabled {
    opacity: .5;
    pointer-events: none;
}
.text-red {
    color: #ff3c3c !important;
    animation: bounce2 .5s linear infinite alternate;
}
.removeAnimation {
    transition: opacity 1.5s ease-out;
    animation: unset;
    opacity: 0;
}
// 加減分動畫
.addScore {
    margin-left: 15px;
    font-size: 50px;
    animation: score 1s ease-out;
    position: absolute;
    left: 50%;
    // right: 0;
    text-shadow: 2px 2px 0 #000;
}
.plus {
    color: rgb(0, 180, 0);   
}
.minus {
    color: #ff3c3c;
} 
@keyframes score {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        transform: translateY(-25px);
        opacity: 0;
    }
}
// 文字彈跳動畫
.bounce {
    animation: bounce .8s linear infinite alternate;
}
@keyframes bounce {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
@keyframes bounce2 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}