// nth($bg,$style);
$web:           A               B               C;
$main-color:    #e33435         #0666e8         #d100d1;
$bg:            #e33435         #0666e8         #d100d1;
$hot-color:     #01a5ca         #0666e8         #0666e8;

$style: index($web,A);

$primary-color: #FF9D00;
$text-color-deep: #000000;
$text-color-shallow: #FFFFFF;

$link-color: #000;
$link-color-hover: #fff;
$bg-color: #FF9D00;
$wrap-width: 960px;